@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Press+Start+2P&display=swap');

:root {
    --bg: rgb(22, 21, 21);
    --neon: rgb(42, 240, 92);

    --font: 'Nabla', sans-serif;
    --font-backup: 'Press Start 2P', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: var(--bg);
    color: var(--neon);
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

#countdown {
    min-height: 100vh;
    /* width: 100%;
    overflow: hidden; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

#play {
    background: none;
    border: 1px solid var(--neon);
    border-radius: 0.5rem;
    font-family: var(--font);
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;
    /* z-index: 1; */
}

.txt {
    font-size: 2rem;
    -webkit-animation: clr-change 10s infinite ease-in-out;
            animation: clr-change 10s infinite ease-in-out;
}

.txt-sm {
    font-size: 1.6rem;
    -webkit-animation: clr-change 10s infinite ease-in-out;
            animation: clr-change 10s infinite ease-in-out;
}

@-webkit-keyframes clr-change {
    0% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    25% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
}

@keyframes clr-change {
    0% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    25% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
}

@media (min-width: 36em) {
    #countdown {
        font-size: 2rem;
    }

    .txt {
        font-size: 4rem;
    }

    .txt-sm {
        font-size: 3.5rem;
    }
}

@media (min-width: 48em) {
    #countdown {
        font-size: 2.8rem;
    }

    .txt {
        font-size: 4.8rem;
    }

    .txt-sm {
        font-size: 4rem;
    }
}

@media (min-width: 62em) {
    #countdown {
        font-size: 3.5rem;
    }

    .txt {
        font-size: 5.5rem;
    }

    .txt-sm {
        font-size: 4.5rem;
    }
}

@media (min-width: 75em) {
    #countdown {
        font-size: 4rem;
    }

    .txt {
        font-size: 6rem;
    }

    .txt-sm {
        font-size: 5rem;
    }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    body {
      font-family: var(--font-backup);
    }

    #countdown {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .txt {
        font-size: 1.6rem;
    }
  }
