@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Nabla&family=Press+Start+2P&display=swap');

:root {
    --bg: rgb(22, 21, 21);
    --neon: rgb(42, 240, 92);

    --font: 'Nabla', sans-serif;
    --font-backup: 'Press Start 2P', sans-serif;
    --font-console: 'Electrolize', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: var(--bg);
    color: var(--neon);
    position: relative;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loader {
    background-color: var(--bg);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 2rem;
    letter-spacing: 1ch;
}

#countdown {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

#countdown::before, #countdown::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    border: 1px dotted var(--neon);
    border-radius: 25px;
}

#countdown::before {
    margin: 0 auto 1rem;
}

#details {
    font-family: var(--font-console);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgba(4, 19, 8, 0.5);
    border-radius: 1rem;
    margin: 3rem 1rem;
    padding: 1rem;
}

#registration_link {
    display: block;
    margin: 1rem 0;
}

#countdown::after {
    margin: 1rem auto 0;
}

.btn {
    background: none;
    border: 1px solid var(--neon);
    border-radius: 0.5rem;
    font-family: var(--font);
    font-size: 1.4rem;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
}

#play {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#play-gui {
    font-family: var(--font-console);
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    pointer-events: none;
    opacity: 0;
}

#play-gui p {
    font-size: 1.4rem;
}

#play-gui p::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--neon);
}

#play-gui ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

#play-gui ul li {
    font-size: 1.2rem;
    list-style: none;
    padding-left: 1rem;
}

#reset {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
}

.keybind {
    display: inline-block;
    min-width: 2.5rem;
    border: 1px solid var(--neon);
    border-radius: 5px;
    padding: 3px 10px;
    background-color: rgba(42, 240, 92, 0.2);
    text-align: center;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: -1;
}

.clr-link-animate {
    color: var(--neon);
    text-decoration: none;
    cursor: pointer;
    -webkit-animation: clr-change 10s infinite ease-in-out;
            animation: clr-change 10s infinite ease-in-out;
}

.txt {
    font-size: 2rem;
    -webkit-animation: clr-change 10s infinite ease-in-out;
            animation: clr-change 10s infinite ease-in-out;
}

.txt-sm {
    font-size: 1.6rem;
    -webkit-animation: clr-change 10s infinite ease-in-out;
            animation: clr-change 10s infinite ease-in-out;
}

@-webkit-keyframes clr-change {
    0% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    25% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
}

@keyframes clr-change {
    0% {
        -webkit-filter: hue-rotate(180deg);
        filter: hue-rotate(180deg);
    }
    25% {
        -webkit-filter: hue-rotate(270deg);
        filter: hue-rotate(270deg);
    }
    75% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
    100% {
        -webkit-filter: hue-rotate(90deg);
        filter: hue-rotate(90deg);
    }
}

@media (min-width: 36em) {
    /* 576px + */
    #countdown {
        font-size: 2rem;
    }

    #details {
        font-size: 1.2rem;
    }

    .txt {
        font-size: 2.2rem;
    }

    .txt-sm {
        font-size: 1.8rem;
    }
}

@media (min-width: 48em) {
    /* 768px + */
    #countdown {
        font-size: 2.2rem;
    }

    #details {
        font-size: 1.4rem;
    }

    .txt {
        font-size: 2.8rem;
    }

    .txt-sm {
        font-size: 2.4rem;
    }
}

@media (min-width: 62em) {
    /* 992px + */
    #countdown {
        font-size: 2.8rem;
    }

    #details {
        font-size: 1.6rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .txt {
        font-size: 3.4rem;
    }

    .txt-sm {
        font-size: 3rem;
    }
}

@media (min-width: 75em) {
    /* 1200px + */
    #countdown {
        font-size: 3.4rem;
    }

    .txt {
        font-size: 4rem;
    }

    .txt-sm {
        font-size: 3.6rem;
    }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    body {
      font-family: var(--font-console);
    }

    #countdown {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    #play, #reset {
        font-family: var(--font-console);
    }

    .txt {
        font-size: 1.6rem;
    }
  }
